.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 97%;
    margin: 50px;
    .main-titulo{
        text-align: left;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
            h1{
                font-weight: 700;
            }
    }
    .main-imagen{
        width: 40%;
        .img-principal{
            width: 100%;
        }
    }
    .button-whatsapp{
        background-color: transparent;
        position: fixed;
        right: 60px;
        bottom: 40px;
        border: none;
        z-index: 2;
    
        .whatsapp{
            width: 50px;
        }
    }
}