.fotos-contenedor{
    width: 99%;
    .fotos-titulo{
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        margin-top: 50px;
    }
    .fotos-carousel{
        margin-top: 50px;
        margin-bottom: 50px;
        
        
    }
}