*{
    font-family:'helvetica', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
@import '../nav-bar/nav-top.scss';
@import '../nav-bar/side-bar.scss';
@import '../main/main.scss';
@import '../servicios/servicios.scss';
@import '../productos/productos.scss';
@import '../ubicacion/ubicacion.scss';
@import '../fotos/fotos.scss';